files:
  "/tmp/fetchdata.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #! /bin/bash
      wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1b4sb2a9qgTrUvM-kWbAod8RMi5myXkGN' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1b4sb2a9qgTrUvM-kWbAod8RMi5myXkGN" -O GoogleNews-vectors-negative300.bin && rm -rf /tmp/cookies.txt

commands:
  01_execute:
    command: "/tmp/fetchdata.sh"